/*body {*/
    /*margin: auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 3px solid green;*/
    /*padding-top: 20%;*/
    /*padding-bottom: 20%;*/
/*}*/

/*a h1 {*/
    /*color: #FCA205;*/
/*}*/


.box-wrap {
    height: 100vh;
    width: 100vw;
    background: red;

}