{% extends 'web/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <div class="container-fluid d-flex w-100 h-100 align-items-center justify-content-center" style="flex-direction: column">

        <div class="row d-flex w-60">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                <h1 class="decrease-letters">Сообщение отправленно на вашу электронную почту</h1>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-12 d-flex justify-content-center">
                <a href="{% url 'user_authentication' %}" style="color: black;">
                    <button class="btn">
                        Вернуться в систему
                    </button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

