{% extends 'web/baseRoom.html' %}

{% load staticfiles %}
{% block content %}

    <div class="container-fluid d-flex h-100 w-100" style="padding-left: 0rem; padding-right: 0rem">

{#        <div class="row d-flex w-100">#}
{#            <div class="col-xs-12 col-sm-3 col-lg-3" style="background-color: #eceeef">#}
{#                <div class="list-group">#}
{#                    <a href="#" class="list-group-item">Редактировать Профиль</a>#}
{#                    <a href="#" class="list-group-item">Управление Деревом</a>#}
{#                    <a href="#" class="list-group-item">Реферальные Ссылки</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-9 col-lg-9">#}
{##}
{#            </div>#}
        </div>
    </div>


{% endblock %}