{% extends 'web/base.html' %} {#{% extends 'web/baseRoom.html' %}#} {% load material_form %} {% load staticfiles %} {% block content %}
<script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div id="dialog2" title="Представительское соглашение" style="width: 600px;display: none">
    <div class="modal-body">
        <a href="http://www.vilavi.com/"><span style="font-size: 12pt; font-family: 'Times New Roman','serif'; color: windowtext;"></span></a>
        <p>1. «VILAVI» (далее по тексту Компания) является обществом Представителей, действующим по принципу прямого распространения продукции и (или) услуг оздоровительного &nbsp;действия, а также любой другой продукции или услуги, по сбыту которых Компания
            может принять решение в любой момент.<br>Каждый новый Представитель должен заключить настоящее Соглашение, быть совершеннолетним и полностью дееспособным.<br>Каждый новый Представитель обязуется подписать только один Контракт с Компанией и
            подтвердить отсутствие какой-либо заинтересованности в иной сфере коммерческой деятельности Компании, за исключением случаев, когда подобное однозначно разрешено и отдельно согласовано с Компанией или ее представительствами.<br>Подписав настоящее
            Соглашение, Представитель становится независимым, неэксклюзивным распространителем продукции или услуг на дому. Задачей Представителя является распространение продукции Компании путем поиска покупателей.<br>Представитель имеет право набирать
            новых распространителей и обязуется обучить их с тем, чтобы они, в свою очередь, стали Представителями Компании.<br>Для того чтобы стать Представителем Компании не требуется никаких инвестиций.</p>
        <p>2. Обязательным является лишь приобретение Стартового набора Компании, ассортимент которого устанавливается Компанией и может периодически меняться.<br>Представитель может получать вознаграждение в соответствии с Планом вознаграждений, который
            предусматривает получение вознаграждения от деятельности Представителей его группы. Шкала комиссионных подробно описана в Плане вознаграждений, который может периодически меняться по решению Компании. При контактах с потенциальными распространителями
            Представитель не должен давать гарантий относительно предполагаемого заработка или допускать каких-либо неправдоподобных высказываний относительно заработка, продукции или Плана вознаграждений Компании.</p>
        <p>3. Если Представитель в течение отчетного периода (1 месяц) не выполняет установленных Компанией условий по закупке и распространению продукции среди конечных потребителей, то он не может претендовать на комиссионные за этот период. Кроме того,
            если в течение 365 дней Представитель не делает ни одной закупки, его Представительское соглашение аннулируется.<br>Задачей Представителя является распространение продукции путем поиска конечных потребителей. Поэтому Представитель должен распространить
            большую часть приобретенной продукции, прежде чем приобрести (заказать) у Компании или у ее представительств новую продукцию. Компания однозначно заявляет, что покупка продукции единственно с целью получения комиссионных категорически запрещена
            и противоречит букве и духу Плана вознаграждений, так как дает возможность получить комиссионные незаслуженно.</p>
        <p>4. В случае наличия какой-либо задолженности со стороны Представителя перед Компанией, Компания вычтет соответствующую сумму из причитающихся Представителю комиссионных.<br>Любой возврат продукции может быть осуществлен Представителем лишь при
            наличии предварительного согласия Компании и в точном соответствии с законодательством, регламентирующим защиту прав потребителей. Представитель несет самостоятельную ответственность за возможные расходы и убытки, связанные с его деятельностью,
            поскольку она является полностью независимой. Такая ответственность не может быть возложена на Компанию.</p>
        <p>5. Представитель обязуется расширять сеть своих представителей, обеспечивать обучение набранных им новых Представителей, демонстрировать им наилучшие способы презентации и доставки продукции конечному потребителю. В связи с этим, Представитель
            обязуется быть в постоянным контакте с набранными им новыми Представителями, чтобы обеспечить их обучение и помочь им в развитии их коммерческой деятельности.</p>
        <p>6. Представитель не может использовать принадлежащие «VILAVI» названия, эмблемы, знаки и иную символику без письменного разрешения на то со стороны Компании. Кроме того, он не может рекламировать продукцию или коммерческие приемы «VILAVI», не
            имея на то письменного разрешения. Представитель обязуется рекламировать продукцию или План вознаграждения «VILAVI» строго в соответствии с терминами, принятыми в разработанной и распространяемой Компанией документации.<br>Представитель обязуется
            сохранять в тайне конфиденциальную информацию относительно Компании, включая коммерческие секреты "VILAVI", а также не допускать распространение сведений, подрывающих деловую репутацию Компании.<br>Компания и Представитель могут расторгнуть
            Контракт в одностороннем порядке, поставив об этом в известность другую сторону специальным заявлением.</p>
        <p>7. В случае расторжения контракта по инициативе Представителя, последний освобождается от всех договорных обязательств перед Компанией в отношении Плана вознаграждений, он теряет право на набор новых представителей и, следовательно, на комиссионные.
            Представитель, аннулировавший Представительское соглашение, или Представитель, с которым Представительское соглашение было расторгнуто по решению Компании, имеет право подписать новое Представительское соглашение через 6 месяцев от даты расторжения.
            Аннулирование Представительского соглашения в целях замены спонсора запрещается. Датой расторжения Представительского соглашения является день принятия Компанией решения по данному вопросу.</p>
        <p>8. Представитель самостоятельно несет ответственность за расходы, которые необходимы для управления его коммерческой деятельностью, а также за свои налоговые и социальные обязательства. Ни Компания, ни ее представительства ни при каких обстоятельствах
            не несут и не могут нести ответственность за соблюдения Представителем налогового законодательства и за правильный учет и уплату им необходимых налогов и сборов с сумм комиссионных и иных выплат или привилегий, получаемых Представителем.</p>
        <p>9. Представитель подтверждает, что он ознакомился с Планом вознаграждений и понял, как он действует. Он признает, что никто в своих заявлениях не дал ему надежду, будто он может получить доходы, гарантии или извлечь иную выгоду из своей коммерческой
            деятельности с «VILAVI» без усилий, и заявляет, что не опирается на такого рода надежду в своем желании стать Представителем. Представитель сознает, что его успех зависит от его способностей и реальных усилий и что он не получает иных комиссионных,
            кроме предусмотренных планом вознаграждения «VILAVI», который может регулярно пересматриваться по решению Компании.<br>Все споры и разногласия, вытекающие из настоящего Представительского соглашения, или в связи с его исполнением, если они
            не будут разрешены путем переговоров, передаются на рассмотрение в соответствующие судебные инстанции по месту нахождения Компании.<br>В случае несоблюдения одного из перечисленных условий или недостоверности сведений, указанных Представителем
            в Представительском соглашении, к Представителю могут быть немедленно применены установленные меры ответственности, в том числе расторжение Представительского соглашения Компанией в одностороннем порядке без каких-либо компенсаций.</p>
        <p>10. Представитель согласен получать информацию на мобильный телефон и e-mail, указанные в соглашении.</p>

        {#
        <ul>#} {#
            <li>1. «VILAVI» (далее по тексту Компания) является обществом Представителей, действующим по принципу прямого распространения продукции и (или) услуг оздоровительного &nbsp;действия, а также любой другой продукции или услуги, по сбыту которых
                Компания может принять решение в любой момент.<br>Каждый новый Представитель должен заключить настоящее Соглашение, быть совершеннолетним и полностью дееспособным.<br>Каждый новый Представитель обязуется подписать только один Контракт
                с Компанией и подтвердить отсутствие какой-либо заинтересованности в иной сфере коммерческой деятельности Компании, за исключением случаев, когда подобное однозначно разрешено и отдельно согласовано с Компанией или ее представительствами.<br>Подписав
                настоящее Соглашение, Представитель становится независимым, неэксклюзивным распространителем продукции или услуг на дому. Задачей Представителя является распространение продукции Компании путем поиска покупателей.<br>Представитель имеет
                право набирать новых распространителей и обязуется обучить их с тем, чтобы они, в свою очередь, стали Представителями Компании.<br>Для того чтобы стать Представителем Компании не требуется никаких инвестиций.</li>#} {#
            <li>2. Обязательным является лишь приобретение Стартового набора Компании, ассортимент которого устанавливается Компанией и может периодически меняться.<br>Представитель может получать вознаграждение в соответствии с Планом вознаграждений, который
                предусматривает получение вознаграждения от деятельности Представителей его группы. Шкала комиссионных подробно описана в Плане вознаграждений, который может периодически меняться по решению Компании. При контактах с потенциальными распространителями
                Представитель не должен давать гарантий относительно предполагаемого заработка или допускать каких-либо неправдоподобных высказываний относительно заработка, продукции или Плана вознаграждений Компании.</li>#} {#
            <li>3. Если Представитель в течение отчетного периода (1 месяц) не выполняет установленных Компанией условий по закупке и распространению продукции среди конечных потребителей, то он не может претендовать на комиссионные за этот период. Кроме
                того, если в течение 365 дней Представитель не делает ни одной закупки, его Представительское соглашение аннулируется.<br>Задачей Представителя является распространение продукции путем поиска конечных потребителей. Поэтому Представитель
                должен распространить большую часть приобретенной продукции, прежде чем приобрести (заказать) у Компании или у ее представительств новую продукцию. Компания однозначно заявляет, что покупка продукции единственно с целью получения комиссионных
                категорически запрещена и противоречит букве и духу Плана вознаграждений, так как дает возможность получить комиссионные незаслуженно.</li>#} {#
            <li>4. В случае наличия какой-либо задолженности со стороны Представителя перед Компанией, Компания вычтет соответствующую сумму из причитающихся Представителю комиссионных.<br>Любой возврат продукции может быть осуществлен Представителем лишь
                при наличии предварительного согласия Компании и в точном соответствии с законодательством, регламентирующим защиту прав потребителей. Представитель несет самостоятельную ответственность за возможные расходы и убытки, связанные с его деятельностью,
                поскольку она является полностью независимой. Такая ответственность не может быть возложена на Компанию.</li>#} {#
            <li>5. Представитель обязуется расширять сеть своих представителей, обеспечивать обучение набранных им новых Представителей, демонстрировать им наилучшие способы презентации и доставки продукции конечному потребителю. В связи с этим, Представитель
                обязуется быть в постоянным контакте с набранными им новыми Представителями, чтобы обеспечить их обучение и помочь им в развитии их коммерческой деятельности.</li>#} {#
            <li>6. Представитель не может использовать принадлежащие «VILAVI» названия, эмблемы, знаки и иную символику без письменного разрешения на то со стороны Компании. Кроме того, он не может рекламировать продукцию или коммерческие приемы «VILAVI»,
                не имея на то письменного разрешения. Представитель обязуется рекламировать продукцию или План вознаграждения «VILAVI» строго в соответствии с терминами, принятыми в разработанной и распространяемой Компанией документации.<br>Представитель
                обязуется сохранять в тайне конфиденциальную информацию относительно Компании, включая коммерческие секреты "VILAVI", а также не допускать распространение сведений, подрывающих деловую репутацию Компании.<br>Компания и Представитель могут
                расторгнуть Контракт в одностороннем порядке, поставив об этом в известность другую сторону специальным заявлением.</li>#} {#
            <li>7. В случае расторжения контракта по инициативе Представителя, последний освобождается от всех договорных обязательств перед Компанией в отношении Плана вознаграждений, он теряет право на набор новых представителей и, следовательно, на комиссионные.
                Представитель, аннулировавший Представительское соглашение, или Представитель, с которым Представительское соглашение было расторгнуто по решению Компании, имеет право подписать новое Представительское соглашение через 6 месяцев от даты
                расторжения. Аннулирование Представительского соглашения в целях замены спонсора запрещается. Датой расторжения Представительского соглашения является день принятия Компанией решения по данному вопросу.</li>#} {#
            <li>8. Представитель самостоятельно несет ответственность за расходы, которые необходимы для управления его коммерческой деятельностью, а также за свои налоговые и социальные обязательства. Ни Компания, ни ее представительства ни при каких обстоятельствах
                не несут и не могут нести ответственность за соблюдения Представителем налогового законодательства и за правильный учет и уплату им необходимых налогов и сборов с сумм комиссионных и иных выплат или привилегий, получаемых Представителем.</li>#}
            {#
            <li>9. Представитель подтверждает, что он ознакомился с Планом вознаграждений и понял, как он действует. Он признает, что никто в своих заявлениях не дал ему надежду, будто он может получить доходы, гарантии или извлечь иную выгоду из своей коммерческой
                деятельности с «VILAVI» без усилий, и заявляет, что не опирается на такого рода надежду в своем желании стать Представителем. Представитель сознает, что его успех зависит от его способностей и реальных усилий и что он не получает иных
                комиссионных, кроме предусмотренных планом вознаграждения «VILAVI», который может регулярно пересматриваться по решению Компании.<br>Все споры и разногласия, вытекающие из настоящего Представительского соглашения, или в связи с его исполнением,
                если они не будут разрешены путем переговоров, передаются на рассмотрение в соответствующие судебные инстанции по месту нахождения Компании.<br>В случае несоблюдения одного из перечисленных условий или недостоверности сведений, указанных
                Представителем в Представительском соглашении, к Представителю могут быть немедленно применены установленные меры ответственности, в том числе расторжение Представительского соглашения Компанией в одностороннем порядке без каких-либо компенсаций.</li>#}
            {#
            <li>10. Представитель согласен получать информацию на мобильный телефон и e-mail, указанные в соглашении.</li>#} {# </ul>#}
    </div>
</div>
<div id="dialog1" title="Пользовательское соглашение" style="width: 600px;display: none">
    <div class="modal-body">
        <h2 class="MsoNormal" style="line-height: normal;"><strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif';">1. Этические нормы поведения Представителей</span></strong></h2>
        <p class="MsoNormal" style="text-align: center; line-height: normal;" align="center"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель обязуется заботиться о репутации Компании, придерживаясь особых этических принципов, направленных на увеличение эффективности деятельности Компании и каждого Представителя.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель обязуется соблюдать все пункты «Представительского соглашения» и «Правил и процедур Компании VILAVI».&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель обязуется выполнять обязанности спонсора, обучая и поддерживая свою сеть представителей. Обязуется уважать взаимоотношения между представителями, придерживаясь принципов команды, поддержки и взаимопомощи.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель не должен искажать информацию о продуктах и услугах, предлагаемых Компанией, изложенную в официальных публикациях.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель может рекламировать продукты и услуги, предлагаемые Компанией, только на основе «Правил и процедур».&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель обязан соблюдать законы региона, на территории которого он ведет свою деятельность.</span></li>
        </ul>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <h2 class="MsoNormal" style="line-height: normal;"><strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif';">&nbsp;2.&nbsp; Представительское соглашение и правила его подачи</span></strong></h2>
        <p class="MsoNormal" style="text-align: center; line-height: normal;" align="center"><strong><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></strong></p>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Чтобы стать&nbsp; Представителем Компании VILAVI, необходимо зарегистрироваться на официальном сайте Компании </span><a href="http://www.vilavi.com/"><span style="font-size: 12pt; font-family: 'Times New Roman','serif'; color: windowtext;">www.vilavi.com</span></a>
                <span style="font-size: 12pt; font-family: 'Times New Roman','serif';"> и выкупить стартовый набор.&nbsp; Фальсифицированные представительские соглашения аннулируются.&nbsp;</span>
            </li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Если супруг(а) Представителя также желает стать Представителем Компании, его(ее) сведения должны быть внесены в основное&nbsp; «Представительское соглашение».&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Семейный контракт может быть заключен только между супругами (состоящими в официальном или гражданском браке). </span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">В случае бракосочетания двух Представителей они могут сохранить свои индивидуальные независимые «Представительские соглашения», создавая свои структуры.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">В случае смерти Представителя его права передаются по наследству по предварительному согласованию с Компанией.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель может передать свои права на «Представительское соглашение» другому лицу только с письменного согласия Компании. Компания имеет право отказать в любом виде продажи или передачи права на «Представительское соглашение».&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Компания всегда будет считать владельцем «Представительского соглашения» лицо, проводящее реальную работу по построению и обучению организации. Запрещены любые формы прямого и косвенного контроля над более чем одним «Представительским соглашением», как то:</span></li>
        </ul>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.&nbsp; Заключение второго соглашения на имя юридического лица.</span></p>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.&nbsp; Заключение второго соглашения на имя подставного физического лица, даже если это лицо является близким родственником.</span></p>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.&nbsp; Любые другие формы прямого и косвенного контроля над «Представительскими&nbsp; соглашениями».</span></p>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <h2 class="MsoNormal" style="line-height: normal;"><strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif';">&nbsp;3. Обязанности Представителей</span></strong></h2>
        <p class="MsoNormal" style="text-align: center; line-height: normal;" align="center"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель согласен соблюдать Этические нормы, «Правила и процедуры», все пункты «Представительского соглашения». Компания не допускает неэтичного поведения и, в случае появления такового, проводит собственное внутреннее расследование. Неэтичным может быть признано любое нарушение вышеупомянутых положений, а также действия Представителя, которые могут нанести моральный или материальный ущерб репутации или принести убытки Компании.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Осуществляя свою деятельность, Представитель несет полную финансовую и профессиональную ответственность, а также является добросовестным налогоплательщиком. Все необходимые налоги&nbsp; Представитель&nbsp;оплачивает самостоятельно.&nbsp;&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель, являясь независимым партнером, не является агентом или наемным работником и не имеет права претендовать на выплату выходного пособия.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель обязуется не заниматься деятельностью, которая составляет конкуренцию его деятельности в Компании VILAVI. В частности:&nbsp;</span></li>
        </ul>
        <ol type="1">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Заключение Представителем Компании любой формы контракта или «Представительского соглашения» с другой компанией прямых продаж с любой формой прямого или косвенного контроля может привести к приостановлению действия его «Представительского соглашения» с Компанией VILAVI сроком до одного месяца.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Развитие бизнеса в другой компании прямых продаж может привести к приостановлению действия его «Представительского соглашения» сроком до трех месяцев.&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Предложение&nbsp;&nbsp; продукции Компании VILAVI клиенту другого Представителя, сделанное без согласия этого Представителя, может привести к приостановлению <span>«Представительского соглашения»</span>&nbsp;первого
                Представителя сроком до трех месяцев.</span>
            </li>
        </ol>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <h2 class="MsoNormal" style="line-height: normal;"><strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif';">&nbsp;4. Вознаграждение Представителей</span></strong></h2>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представителям &nbsp;выплачиваются комиссионные вознаграждения согласно «Плану вознаграждений Компании VILAVI».&nbsp;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Расчет комиссионных вознаграждений производится по окончании расчетного периода и рассчитывается согласно «Плану вознаграждений Компании VILAVI».</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Перечисление вознаграждения на банковский счет представителя производится через две недели при выполнении условий:<br>1.&nbsp; Открытого счета в Банке<br> 2.&nbsp; Наличия подписанного договора возмездного оказания услуг между компанией VILAVI и Представителем, зарегистрированным в качестве Индивидуального предпринимателя. Договор возмездного оказания услуг заключается на основании предоставленных представителем документов: Свидетельства о регистрации в качестве индивидуального предпринимателя и Свидетельства о постановке на учет физического лица в налоговом органе на территории РФ&nbsp;.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">3. Внесения суммы для выплаты в специальном поле на главной странице личного Кабинета.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"> &nbsp;&nbsp; <br> При несоблюдении какого-либо из этих условий, начисленное вознаграждение остается на Денежном &nbsp;счете представителя.</span></li>
        </ul>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <h2 class="MsoNormal" style="line-height: normal;"><strong><span style="font-size: 18pt; font-family: 'Times New Roman','serif';">&nbsp;5. Дисциплина и прекращение деятельности Представителя</span></strong></h2>
        <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель имеет право прекратить свою деятельность, письменно уведомив об этом Компанию. Прекращая свою деятельность, Представитель теряет все права, льготы и привилегии, связанные с деятельностью Компании. Во избежание недоразумений Представитель, желающий прекратить свою деятельность в Компании, должен подать заявление и самостоятельно произвести все необходимые действия, связанные с налогообложением деятельности Представителя.&nbsp;</span></li>
        </ul>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Компания оставляет за собой право аннулировать второе «Представительское соглашение» или лишить данное лицо права подписывать соглашение с Компанией и вступать в коаппликанты к другому Представителю Компании на ограниченный или неограниченный срок в случае, если:&nbsp;</span></li>
        </ul>
        <ol type="1">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Представитель уже имеет подписанное «Представительское соглашение» с Компанией;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Не прошло 6 месяцев с момента отказа от предыдущего «Представительского соглашения»;</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Данному лицу отказано в подписании «Представительского соглашения» в связи с нарушением «Правил и процедур Компании VILAVI».</span></li>
        </ol>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">В случае, если в течение расчетного месяца с момента временной регистрации «Представительского соглашения», Компания не получила оплату стартового набора, данное «Представительское соглашение» аннулируется.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';" data-mce-mark="1">В случае, если Представитель не подтверждает свою активность более 12 месяцев, «Представительское соглашение» аннулируется.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';" data-mce-mark="1">Если при аннулировании «Представительского соглашения», на Денежном или Продуктовом счетах оставались начисленные бонусы, они списываются в доход предприятия. После того, как «Представительское соглашение» аннулировано, выплата бонусов<span style="font-size: 12pt; font-family: 'Times New Roman','serif';" data-mce-mark="1">&nbsp; </span>не
                производится.
                </span>
            </li>
        </ul>
        <ul type="disc">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">В случае несоблюдения Представителем «Правил и процедур», Компания оставляет за собой право принять одну из следующих мер воздействия:</span></li>
        </ul>
        <ol type="1">
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Неофициальное устное предупреждение.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Официальное письменное предупреждение.</span></li>
            <li class="MsoNormal" style="line-height: normal;"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">Приостановление деятельности.</span></li>
        </ol>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp; &nbsp;3.1. В случае временного приостановления деятельности&nbsp;<span>«Представительского соглашения», Компания оставляет за собой право принятия решения о возобновлении или терминации&nbsp;<span>«Представительского соглашения»;</span></span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp; 3.1.1. В период приостановления деятельности&nbsp;<span style="font-size: 12pt; font-family: 'Times New Roman','serif';">«Представительского соглашения» никакие действия с Личным кабинетом Представителя невозможны;</span></span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp; 3.2. В случае принятия решения о терминации&nbsp;<span>«Представительского соглашения» все начисленные бонусы на внутреннем счете Представителя списываются в доход предприятия. После того, как&nbsp;<span>«Представительское соглашение» аннулировано, выплата бонусов не производится.&nbsp;</span></span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp; 3.3. В случае принятия решения о возобновлении деятельности приостановленного&nbsp;<span style="font-size: 12pt; font-family: 'Times New Roman','serif';">«Представительского соглашения», Представитель Компании может продолжить свою деятельность без сохранения накопленных бонусов и достигнутого ранга.&nbsp;</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp;3.3.1. Компания может рассмотреть возобновление деятельности&nbsp;<span style="font-size: 12pt; font-family: 'Times New Roman','serif';">«Представительского соглашения» с сохранением накопленных бонусов и достигнутого ранга в индивидуальном порядке.&nbsp;</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp;4. Прекращение деятельности (извещение о прекращении деятельности высылается на домашний адрес Представителя по почте).</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp;4.1. В случае прекращения деятельности&nbsp;<span>«Представительского соглашения» бонусы, находящиеся на Денежном или Продуктовом счетах, списываются в доход предприятия.&nbsp;<span>После того, как&nbsp;</span><span>«Представительское соглашение» аннулировано, выплата бонусов не производится.&nbsp;</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
        <p><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';"><span style="font-size: 12pt; font-family: 'Times New Roman','serif';">&nbsp; &nbsp;4.2. Вся Личная группа переходит в первую линию вышестоящего Спонсора с сохранением положения в бинарном дереве.&nbsp;</span></span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
            </span>
        </p>
    </div>
</div>

<div class="container-fluid d-flex flex-column h-100 w-100 align-items-center justify-content-center">

    <div class="row d-flex w-60 justify-content-center align-items-center">
        <div class="d-flex w-100 justify-content-center align-items-center">
            <h1 id="reg-header">РЕГИСТРАЦИЯ</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center" id="form-reg" style="width: 40%;">
        <div class="d-flex w-100 justify-content-center align-items-center">
            <form method="POST" class="viewform" style="width: 100%">
                <div class="vilavi-errors" style="
                    line-height: 12px;
                    position: relative;
                    color: #F44336;
                    ">
                    {% for err in error_list %}
                    <small class="error"><p style="margin: 10px">{{ err }}</p></small> {% endfor %}
                </div>
                {% csrf_token %} {% form %} {% endform %}
                <div class="row" style="padding-bottom: 50px">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-secondary sign-btn" style="background-color: #79b729; color: #FFF; width: 100%;">Зарегистрироваться</button> {% if existing %}



                    </div>
                    <div style="width:100%; text-align:center;padding-top:15px;">
                        <a href="{% url 'user_registration' %}"><b>У меня нет Viavi id</b></a> {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#id_agree_container').append(
            '<span><a href="#" id="rule1">Правилами компании</a> и условиями <a href="#" id="rule2">Представителького соглашения</a><span>'
        ) {#
            $("label[for='id_agree']").html(function(_, html) {#} {#
                html.split('Правилами компании').join('<a id="rule1">Правилами компании</a>');#
            } {#
                return html;#
            } {#});#
        }
        $("#dialog1").dialog({
            autoOpen: false,
            position: {
                my: "top",
                at: "top",
                of: "body"
            },
            modal: true,
            width: 700,
            buttons: {
                Ok: function() {
                    $(this).dialog("close");
                }
            }
        })
        $('#rule1').click(function() {
            $("#dialog1").dialog("open");
            return false;
        });
        $("#dialog2").dialog({
            autoOpen: false,
            position: {
                my: "top",
                at: "top",
                of: "body"
            },
            modal: true,
            width: 700,
            buttons: {
                Ok: function() {
                    $(this).dialog("close");
                }
            }
        })
        $('#rule2').click(function() {
            $("#dialog2").dialog("open");
            return false;
        });
        $('select').material_select(); {#
            document.getElementsByClassName('select-dropdown').onclick(function() {#} {#
                console.log('[Hi]');#
            } {#});#
        }

        function changeTextIfPhone() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 712) {
                // some code..
                $('#form-reg').css("width", '100%');
                $('#reg-header').css("font-size", '1rem');
            } else {
                $('#form-reg').css("width", '40%');
                $('#reg-header').css("font-size", '2.5rem');
            }


        }

        changeTextIfPhone()

    });
</script>
{% endblock %}